<%- @meta = { :title => t('.title'), :description => t('.description') } -%>

<div id="page-header" class="grid_12">
	<h1><%= t('.title') %><span><%= t('.description') %></span></h1>
</div>

<div class="grid_12">
	<% form_for @user do |f| %>
	  <%= render :partial => 'form', :object => f %>
	  <%= f.submit t('.buttons.save') %>
	<% end %>
</div>