<h1>Editing posting</h1>

<% form_for(@posting) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @posting %> |
<%= link_to 'Back', postings_path %>