<%- @meta = { :title => 'Oversigt over posteringer', :description => '', :blank_header => false } -%>
<div class="grid_9">
	<table id="postings">
		<thead>
			<tr>
				<th></th>
				<th>Dato</th>
				<th>Bilag</th>
				<th>Tekst</th>
				<th>Konto</th>
				<th>Beløb</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th colspan="6" style="border: solid 1px #ccc; background-color: #eee">
					<div style="text-align: center">Ønsker du at tilføje posteringer nu? <input id="add-new-posting" type="button" value="Ja, tak" /></div>
					<div id="new-posting-container" class="columns" style="display: none">
						<%= render :partial => 'new', :locals => { :posting => @posting } %>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
		<%= render @postings %>
		</tbody>
	</table>	
	
</div>

<div class="grid_3">
	<div class="sidebar">
		<h3>Hvordan opretter jeg en postering?</h3>
		<div>
			<p>Den nemmeste måde er at sende en mail til bilag@hurtigmoms.dk
			med dit bilag for posteringer. Et sted i mailen kan du benytte
			følgende felter</p>
			<p>
				<code>
					TEKST: [Køb af frimærker]<br />
					BELØB: [250 DKK]<br />
					KONTO: [Varekøb]
				</code>
			</p>
			<p>
				Systemet forstår også en mere naturlig beskrivelse af dit
				bilag, fx kan du i "Emne" feltet skrive tekster såsom <code>
				"Køb af frimærker til 500DKK"</code> for at oprette en 
				postering der vil registrere et køb af frimærker på 500,-
				inkl. moms.
			</p>
			<p>
				Kan systemet ikke gætte hvordan bilaget skal tolkes, vil den
				blive registreret i systemet på dags dato med emne feltet 
				brugt som "Tekst" på posteringen. Posteringen vil herefter
				være i en "kræver handling" state.
			</p>
		</div>
	</div>
</div>