
<p>
	Vi har modtaget omkring <b><%= @rows.count %></b> posteringer.
</p>

<p>
	Du skal nu hjælpe med at matche disse kolonner.
</p>

<table id="postings">
	<thead>
		<tr>
			<%- @rows.headers.each do |h| -%>
				<th><%=h h %></th>
			<%- end -%>
		</tr>
	</thead>
	<tfoot>
		<%- @rows.headers.each do |h| -%>
			<th>
				<select>
					<option value=""></option>
					<option value="created_at">Dato</option>
					<option value="note">Note</option>
					<option value="amount">Beløb</option>
					<option value="currency">Valuta</option>
				</select>
			</th>
		<%- end -%>
	</tfoot>
	<tbody>
		<%- idx = 0 -%>
		<%- @rows.each do |r| -%>
			<tr>
				<%- @rows.headers.each do |h| -%>
					<td><%= r[h] %></td>
				<%- end -%>
			</tr>
			<% idx += 1 %>
			<% if idx >= 10 then break end %>
		<%- end -%>
	</tbody>
</table>

<input type="button" value="Importer"> eller annuller