<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<div class="grid_9">
	<h3>Introduktion</h3>

	<h4>Hvad er et API?</h4>
	<p>
		Hurtigmoms API (Application Programming Interface) gør det muligt for dig
		at sende, modtage og fjerne data fra din konto via HTTP POST. Der er mange 
		situationer, hvor det kunne være nyttigt. Lad os sige, du køre en online 
		butik og ønsker at sende en faktura til din kunde, hver gang der sker et 
		køb. Dette er muligt med bare et par linjer kode ved hjælp af vores API. 
		Vores API er ikke begrænset til noget bestemt programmeringssprog og kan 
		bruges i alle sprog, der understøtter at sende data via HTTP POST.
	</p>

	<!-- <h4>How does it work?</h4>
	<p>A method is always called through a HTTP POST request. If a call is successful, it returns a result, usually a short success message or data in XML format. If the call fails, it returns an error message.</p>

	<p>You call an API method like this:</p>

	<div class="link">
	<p>http://<strong>machine_id</strong>.invoicemachine.com/api/<strong>method</strong></p>
	</div>

	<h4>Authentication</h4>
	<p>Access to the API requires authentication. For security reasons, we use a unique API Token instead of your account password. This API Token should be posted as a parameter of the call. You can find your API Token under the Account Overview in the Account section. Please note that in order for the authentication to be successful, the Machine ID (sub domain) in the URL must match the API token for that account.</p>

	<p>The API Token is a unique string and looks similar to this:</p>

	<div class="link">
	<p>c86cea54c71sbb05a5f8297bed641944</p>
	</div>

	<h4>Need some help?</h4>
	<p>Please feel free to <a href="http://invoicemachine.com/contact">contact us</a> if you have any questions or find any bugs.</p> -->

</div>

<div class="grid_3">
	<h3>Oversigt</h3>
	<ul>
		<li><a class="current" href="/api">Introduktion</a></li>
	</ul>

	<h3>Posteringer</h3>
	<ul>
		<li><a href="">posting.new</a></li>
		<li><a href="">posting.edit</a></li>
		<li><a href="">posting.remove</a></li>
		<li><a href="">posting.download</a></li>
		<li><a href="">posting.get</a></li>
	</ul>
</div>