<div class="intro">
	<div class="container_12">
		<div class="grid_12">
			<h1>hurtigmoms</h1>
			<h3>intelligent bogføring for din virksomhed</h3>
		</div>
	</div>
</div>

<div class="container_12">
	<div class="grid_7">
	  <div class="callout">
	    <p>
				Har du behov for et online bogføringssystem der gør alt arbejdet
				for dig? Så er <b>hurtigmoms</b> systemet du har brug for.
			</p>
			<p>
				Du behøver ikke at have kendskab til kassekladde, bankafstemning,
				dobbelt bogholderi princippet, osv. for at komme igang. Følger du
				blot vores anvisninger og strukturerer din arbejdsgang herefter kan
				systemet lave et fuldt momsregnskab og endda din årsrapport helt
				automatisk.
			</p>
			<p>
				Det er intelligent bogføring.
			</p>
	  </div>
	</div>
	<div class="grid_5">
		<div class="signup-box">
			
			<!-- <form action="http://commanigy.createsend.com/t/y/s/hduruy/" method="post">
			<div>
			<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
			<label for="hduruy-hduruy">Email:</label><br /><input type="text" name="cm-hduruy-hduruy" id="hduruy-hduruy" /><br />

			<input type="submit" value="Skriv mig op" />
			</div>
			</form> -->
			
			<h2>Prøv det gratis i 60 dage</h2>
			<p>
				Hurtigmoms er i <b>beta</b> og det er derfor gratis at tilmelde sig. 
				Du kan enten vælge at:
			</p>
			<ol>
				<li>sende et bilag på <code>bilag@hurtigmoms.dk</code> og 
				vi opretter en konto til dig inden for et minut.</li>
				<li>benytter vores <%= link_to('tilmeldingsformular', sign_up_path) %></li>
			</ol>
			<p>
				Allerede bruger? <%= link_to("Log ind", new_session_path) %> med det
				samme.
			</p>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<!-- <div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" alt="Visning af alle transaktioner" /></a></div></div>
	<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
	<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
	
	<div class="clear"></div> -->
	
	<div class="grid_12">
		<!--
		<h4>Unik understøttelse for emails</h4>
		<p>
			Hurtigmoms har en unik funktion der gør det muligt at kigge intelligent på 
			mails du videresender til os. Hvis du fx sender din månedlige "Basecamp" 
			faktura udtrækkes automatisk faktura dato, beløb, valuta samt beskrivelse 
			fra mailen og denne indsættes som en ny postering på dit regnskab. Vi sætter
			endda typen som værende "Varekøb, udland" så moms ikke bliver tillagt.
		</p>

		<p>
		  Indtil videre understøttes Harvest, GitHub, Campaign Monitor, GratisDNS, 
		  Basecamp og Spotify, men der tilføjes nye hver dag. Skriv til os hvis du 
		  ønsker at din mail kan forstås af hurtigmoms.
		</p>
		-->
	</div>

	<div class="clear"></div>
	
	<div id="f">
		Udviklet af <%= link_to('Commanigy', 'http://commanigy.com/') %> 
	</div>
	
	<%- content_for :js do -%>
		$("a.elastic").fancybox({
			"titleShow"     : false,
			"transitionIn"	: "elastic",
			"transitionOut"	: "elastic"
		});
	<%- end -%>
	
</div>