<%- @meta = { :title => 'hurtig moms - saa gaar det hurtigt', :description => '', :blank_header => true } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<div class="grid_12">
	<%= render '/shared/navigation' %>

	<h4>Understøttede formater</h4>
	<p>
		Hurtigmoms kigger intelligent på de mails der modtages og udtrækker
		faktura dato, beløb, valuta samt beskrivelse inden der indsættes en
		posting på dit regnskab.
	</p>
	<ul>
		<li>Harvest</li>
		<li>GitHub</li>
		<li>Campaign Monitor</li>
		<li>Basecamp</li>
	</ul>
	<p>
		Skriv til os hvis du ønsker at din mail kan forstås af hurtigmoms.
	</p>
</div>