<%- @meta = { :title => 'hurtig moms - saa gaar det hurtigt', :description => '', :blank_header => false } -%>
<div class="content">
	test
</div>

<% content_for :sidebar do %>
<div class="sidebar">
	<h3>Hvordan opretter jeg en ny postering?</h3>
	<div>
		TBD
	</div>
</div>
<% end %>