<h1>Postings <span>Importing</span></h1>

<% form_for(@posting_import, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

	<fieldset>
		<%= f.file_field :file %>
	</fieldset>
	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>