<%- @meta = { :title => t('.title'), :description => t('.description') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<ul>
	<li>Omsætning fordelt på kunder</li>
	<li>Udgifter fordel på kunder</li>
	<li>Omsætning fordelt på måneder</li>
	<li>Udgifter fordelt på måneder</li>
	<li>Købsmoms fordelt på måneder</li>
	<li>Salgsmoms fordelt på måneder</li>
</ul>